!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "", :name => "description"}
            %meta{:content => "", :name => "author"}
              %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
                %link{:href => "http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
%header.intro-header{:style => "background-image: url('images/n.jpg')"}
  .container.clearfix
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          %hr.small
          %h1 Contact Me!
          %hr.small
            %span.subheading I'm a fresh graduate, I strive hard to lean more whether the technology is new or not and I have a passion in programming.
%hr

.container
  %section.clearfix
    .d
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %span.fa-stack.fa-lg
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-envelope.fa-stack-1x.fa-inverse
        %h2.post-title
        %hr
        %p I'm free right now and wanted to work as a Ruby on Rails developer in Philippines, so if you think or feel that I'am the right man for the job, say hello and email me and let's start building the future!
        %hr
        %ul.pager
          %li.next
            %a.btn.btn-outline{:href => "mailto:bricefrancisco112@gmail.com"} Email me at: bricefrancisco112@gmail.com
%hr

%footer
  .container
    .row
      %ul.list-inline.text-center
        %li
          %a{:href => "https://ph.linkedin.com/pub/brice-john-francisco/b2/a85/6a3"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-linkedin.fa-stack-1x.fa-inverse
        %li
          %a{:href => "https://www.facebook.com/breeehappy"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-facebook.fa-stack-1x.fa-inverse
        %li
          %a{:href => "https://www.github.com/br333"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-github.fa-stack-1x.fa-inverse
  %p.copyright.text-muted Copyright &copy; Brice Francisco 2015

