!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "", :name => "description"}
            %meta{:content => "", :name => "author"}
              %link{:href => "http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}
                %link{:href => "http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", :rel => "stylesheet", :type => "text/css"}
%header.intro-header{:style => "background-image: url('images/project.JPG')"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          %h1 So when I graduated, I started learning Ruby on Rails
          %span.subheading I started to build simple apps that will enchance my skills in web development, though it is not under my curriculumn when i was taking up my course i still managed to learn by myself and make apps using PHP, HTML and Ruby on Rails.
          %span.meta I'm a newbie! yay!
%article
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %h2.section-heading TUP Compass Accounting Management
        %p PHP was the first programming language that I've learn and I'd used it also in my thesis, I didn't used any frameworks just plain native PHP, MySQL and HTML.
        %blockquote
          Role: Backend Developer
        %blockquote
          Built with HTML, CSS, PHP, MySQL and Bootstrap
        
        %img.img-responsive{:alt => "", :src => "images/b.jpg"}
        %span.caption.text-muted
          The Dashboard
        %p
          I'm not the one who made the interface design, yes i know that's look familiar because my partner used sb-admin template and customized it to make it more simplier, I'm not allowed to published the application online.
        %img.img-responsive{:alt => "", :src => "images/e.jpg"}
        %span.caption.text-muted
          The main function
        %p So the main goal of this browser based app is to record the transactions between the organization and students.
        %hr
        %h2.section-heading Ping Boot
        %p This was the first app that I've made using Ruby on Rails, I just stumbled it on youtube and saw a tutorial of it. So I tried to make it using my crappy PC + windows platform. At first it was hard but as time goes by I'm starting to know the basics of Ruby and the gems
        %blockquote
          Gems used: Haml, Paperclip, Devise, Simple_form, Masonry, Act_as_votable, sass_rails and Bootstraps

        %img.img-responsive{:alt => "", :src => "images/pa.JPG"}
        %span.caption.text-muted
          Index page
        %p This application acts like a pinterest, you can upvote and post pictures with descriptions with it.
        %img.img-responsive{:alt => "", :src => "images/pin1.jpg"}
        %span.caption.text-muted
          The main function
        %p 
          I'm planning to add more features to it, like adding comments, featured posts and etc.
          = succeed "." do
            %a{:href => "https://bricebored.herokuapp.com"} Here's the link to the site!
        %hr
        %h2.section-heading Bierc
        %p The second application that I made using Ruby on Rails! Actually i started to love Ruby on Rails. This application is not yet done but I decided to include it on my portfolio. Unlike the Ping Boot application which I'd built from top to bottom with a tutorial, this applications was built with tutorial BUT with a major features added like adding a comment, and user authentications. Minor changes with the styling navbar and colors.
        %blockquote
          Gems used: Haml and Devise only

        %img.img-responsive{:alt => "", :src => "images/b1.JPG"}
        %span.caption.text-muted
          Index page
        %p This application is like a blog, you can add comment and post anything.
        %img.img-responsive{:alt => "", :src => "images/b2.JPG"}
        %span.caption.text-muted
          The main function
        %p I'd added an about page also!
        %img.img-responsive{:alt => "", :src => "images/b3.JPG"}
        %span.caption.text-muted
          About page
        %p 
          I'm planning to add more features to it also, like adding comments with a picture, posts with pictures, featured posts and etc.
          = succeed "." do
            %a{:href => "https://bierc.herokuapp.com"} Here's the link to the site!
        %hr
        %h1.section-heading And many more to come...
        %p Some of my college friends wants their own portfolio and already asks me to propose a design, so I'm in the middle of planning by now. Wink!
        %hr


%footer
  .container
    .row
      %ul.list-inline.text-center
        %li
          %a{:href => "https://ph.linkedin.com/pub/brice-john-francisco/b2/a85/6a3"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-linkedin.fa-stack-1x.fa-inverse
        %li
          %a{:href => "https://www.facebook.com/breeehappy"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-facebook.fa-stack-1x.fa-inverse
        %li
          %a{:href => "https://www.github.com/br333"}
            %span.fa-stack.fa-lg
              %i.fa.fa-circle.fa-stack-2x
              %i.fa.fa-github.fa-stack-1x.fa-inverse
  %p.copyright.text-muted Copyright &copy; Brice Francisco 2015

